<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Respond.io_AutomationTest">
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>

    <test name="E2E Test Respond.io" preserve-order="true">
        <classes>
            <class name="TestCase.TestDriverClass"/>
            <class name="utils.Listeners.Retry"/>
        </classes>
    </test>
</suite>

